<launch>

<!-- PARAM -->
<rosparam param="/use_sim_time">true</rosparam>

<!-- RVIZ -->
<node pkg="rviz" type="rviz" name="rviz">
</node>

<!-- STATE PUBLISHER -->
<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" />

<!-- EKF -->
<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load"
        file="$(find husky_control)/config/localization.yaml"/>
</node>

</launch>
